@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.relative {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.px-4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
}

.btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
}
